[submodule "Dependencies/glm"]
	path = Dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "Dependencies/VulkanHelpers"]
	path = Dependencies/VulkanHelpers
	url = https://github.com/Zachhaaa/VulkanHelpers.git
[submodule "Dependencies/TimerApi"]
	path = Dependencies/TimerApi
	url = https://github.com/Zachhaaa/TimerApi.git
[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui.git
