
.vs/
**.sln
bin/
**.vcxproj
**.user
**.filters

*/__pycache__/
__pycache__/

imgui.ini

SimpleViewer3D/src/FileArrays/*
SimpleViewer3Dinstaller/src/FileArrays/*
!SimpleViewer3D/src/FileArrays/ABOUT_THIS_DIRECTORY.txt
!SimpleViewer3Dinstaller/src/FileArrays/ABOUT_THIS_DIRECTORY.txt
*.zip